<br><br><h2 class="text-center">Novo Personagem</h2><br><br><br>

<div class="container">
  <div class="row-fluid">

  <%= form_for(@character) do |f| %>

    <br><br>
        <div class="field input-group">
          <span class="input-group-addon" id="basic-addon1"><%= f.label :Nome %></span>
          <%= f.text_field :name, :class => 'form-control'%>
          <br>
        </div>

    <div class="col-md-7">
      <div id="canvasDiv"></div>
        <script type="text/javascript">
         prepareCanvas(document.getElementById("canvasDiv"), 490, 220, "none", "none", "none", "none");
        </script>
      </div>
    </div>



      <div class="col-md-5">


        <br><br>
        <div class="row-fluid text-center">






        </div><!--row-->
      </div>

  </div>
</div>
<div class="media">
<section class="with_pricetable" id="pricevalue">
    <div class="">
      <div class="sc_section bg_tint_dark">
        <div class="sc_content main ">
          <h2 class="sc_title style_2 aligncenter sc_title_regular margin_bottom_small">Option</h2>
          <div class="sc_columns columnsWrap">
            <div class="sc_pricing_table columns1_4 alignCenter table_color_green margin_top_small margin_bottom_small">
              <div class="sc_pricing_columns sc_pricing_column_1">
                <ul class="columnsAnimate">
                  <li class="sc_pricing_data sc_pricing_title"><%= image_tag  "sm_hair.png", :class =>"media-left"%></li>
                  <li class="sc_pricing_data sc_pricing_price"><%= f.radio_button :hair, 'hair', onClick: "change('hair', 'hair');", :checked => true %><%= label :hair_default, 'Default'%></li>
                  <li class="sc_pricing_data sc_pricing_price"><%= f.radio_button :hair, 'hair_green', onClick: "change('hair','hair_green');" %><%= label :hair_green, 'Green' %></li>
                  <li class="sc_pricing_data sc_pricing_price"><%= f.radio_button :hair, 'hair_pink', onClick: "change('hair','hair_pink');"%><%= label :hair_blue, 'Pink' %></li>
                  <li class="sc_pricing_data sc_pricing_price"><%= f.radio_button :hair, 'hair_red', onClick: "change('hair','hair_red');" %><%= label :hair_brown, 'Red' %></li>
                  <li class="sc_pricing_data sc_pricing_price"><%= f.radio_button :hair, 'hair_yellow', onClick: "change('hair','hair_yellow');" %><%= label :hair_yellow, 'yellow' %></li>
                </ul>
              </div>
            </div>
            <div class="sc_pricing_table columns1_4 alignCenter table_color_blue margin_top_small margin_bottom_small">
              <div class="sc_pricing_columns sc_pricing_column_1">
                <ul class="columnsAnimate">
                  <li class="sc_pricing_data sc_pricing_title"><%= image_tag  "sm_torso.png", :class =>"media-left"%></li>
                  <li class="sc_pricing_data sc_pricing_price"><%= f.radio_button :shirt, 'torso', onClick: "change('torso', 'torso');", :checked => true %><%= label :torso, 'Default'%></li>
                  <li class="sc_pricing_data sc_pricing_price"><%= f.radio_button :shirt, 'torso_blue', onClick: "change('torso','torso_blue');" %><%= label :shirt_blue, 'Blue' %></li>
                  <li class="sc_pricing_data sc_pricing_price"><%= f.radio_button :shirt, 'torso_gray', onClick: "change('torso','torso_gray');"%><%= label :shirt_gray, 'Gray' %></li>
                  <li class="sc_pricing_data sc_pricing_price"><%= f.radio_button :shirt, 'torso_purple', onClick: "change('torso','torso_purple');" %><%= label :shirt_purple, 'Purple' %></li>
                </ul>
              </div>
            </div>
            <div class="sc_pricing_table columns1_4 alignCenter table_color_blue margin_top_small margin_bottom_small">
              <div class="sc_pricing_columns sc_pricing_column_1">
                <ul class="columnsAnimate">
                  <li class="sc_pricing_data sc_pricing_title"><%= image_tag  "sm_head.png", :class =>"media-left"%></li>
                  <li class="sc_pricing_data sc_pricing_price"><%= f.radio_button :skin, 'default', onClick: "change('head', 'head');change('leftArm', 'leftArm');change('rightArm', 'rightArm');", :checked => true %><%= label :skin, 'Default'%></li>
                  <li class="sc_pricing_data sc_pricing_price"><%= f.radio_button :skin, 'green', onClick: "change('head', 'head_green');change('leftArm', 'leftArm_green');change('rightArm', 'rightArm_green');" %><%= label :skin, 'Green' %></li>
                  <li class="sc_pricing_data sc_pricing_price"><%= f.radio_button :skin, 'pink', onClick: "change('head', 'head_pink');change('leftArm', 'leftArm_pink');change('rightArm', 'rightArm_pink');"%><%= label :skin, 'Pink' %></li>
                  <li class="sc_pricing_data sc_pricing_price"><%= f.radio_button :skin, 'yellow', onClick: "change('head', 'head_yellow');change('leftArm', 'leftArm_yellow');change('rightArm', 'rightArm_yellow');" %><%= label :skin, 'Yellow' %></li>
                </ul>
              </div>
            </div>
            <div class="sc_pricing_table columns1_4 alignCenter table_color_orange margin_top_small margin_bottom_small">
              <div class="sc_pricing_columns sc_pricing_column_1">
                <ul class="columnsAnimate">
                  <li class="sc_pricing_data sc_pricing_title"><%= image_tag  "sm_legs.png", :class =>"media-left"%></li>
                  <li class="sc_pricing_data sc_pricing_price"><%= f.radio_button :pants, 'legs', onClick: "change('legs', 'legs');", :checked => true %><%= label :pants, 'Default'%></li>
                  <li class="sc_pricing_data sc_pricing_price"><%= f.radio_button :pants, 'legs_gray', onClick: "change('legs', 'legs_gray');" %><%= label :pants, 'Gray' %></li>
                  <li class="sc_pricing_data sc_pricing_price"><%= f.radio_button :pants, 'legs_green', onClick: "change('legs', 'legs_green');"%><%= label :skin, 'Green' %></li>
                </ul>
              </div>
            </div>
          </div> <!-- /collumn swap -->
        </div>
      </div>
    </div>

          </div><!--media-->
<%= f.submit "Criar Personagem", :class=>"btn-group btn btn-info"%>
</section>

<% end %>