

<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% >>> ganhe badges %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->

<section class="">
  <div class="container container_style_2">
    <div class="">
      <div class="sc_content main ">
        <div class="columnsWrap sc_columns sc_columns_count_5">
          <div class="columns1_5 sc_column_item sc_column_item_1 odd first">
            <a href="#">
              <div class="sc_title_icon sc_title_top sc_size_huge">
                <img src="/assets/newtheme/babbysitter-icon-1.png" alt=""/>
              </div>
              <h6 class="sc_title sc_title_iconed style_1">Funny educational games</h6>
            </a>
          </div>
          <div class="columns1_5 sc_column_item sc_column_item_2 even">
            <a href="#">
              <div class="sc_title_icon sc_title_top sc_size_huge">
                <img src="/assets/newtheme/babbysitter-icon-2.png" alt=""/>
              </div>
              <h6 class="sc_title sc_title_iconed style_1">Outside activities</h6>
            </a>
          </div>
          <div class="columns1_5 sc_column_item sc_column_item_3 odd">
            <a href="#">
              <div class="sc_title_icon sc_title_top sc_size_huge">
                <img src="/assets/newtheme/babbysitter-icon-3.png" alt=""/>
              </div>
              <h6 class="sc_title sc_title_iconed style_1">Babysitter last minute service</h6>
            </a>
          </div>
          <div class="columns1_5 sc_column_item sc_column_item_4 even">
            <a href="#">
              <div class="sc_title_icon sc_title_top sc_size_huge">
                <img src="/assets/newtheme/babbysitter-icon-4.png" alt=""/>
              </div>
              <h6 class="sc_title sc_title_iconed style_1">Drawing, coloring, and painting</h6>
            </a>
          </div>
          <div class="columns1_5 sc_column_item sc_column_item_5 odd">
            <a href="#">
              <div class="sc_title_icon sc_title_top sc_size_huge">
                <img src="/assets/newtheme/babbysitter-icon-5.png" alt=""/>
              </div>
              <h6 class="sc_title sc_title_iconed style_1">Book a Sitter!</h6>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% <<< ganhe badges %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->


<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% >>> paralax balao %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->

<section class="no_padding skyblue_section">
  <div class="container">
    <div class="">
      <div class="sc_parallax dark" data-parallax-speed="0.3" data-parallax-x-pos="50%" data-parallax-y-pos="50%">
        <div class="sc_parallax_content parallax_image_1">
          <div class="sc_content main ">
            <div class="columnsWrap sc_columns sc_columns_count_2">
              <div class="columns1_2 sc_column_item sc_column_item_1 odd first">
              </div>
              <div class="columns1_2 sc_column_item sc_column_item_2 even">
                <h1 class="sc_title style_2 sc_title_regular font_ubuntu text_uppercase title_type_1">Pre-screened, qualified and responsible babysitter</h1>
                <div class="text_md">
                  <p>Find great child care for your family at reasonable price. Simply drop us a few lines and we will pick the best option for you.</p>
                </div>
                <div class="sc_button sc_button_style_global sc_button_size_huge curveButton squareButton global huge">
                  <a href="#" class="">Purchase</a>
                </div>
                <div class="sc_button sc_button_style_global sc_button_size_huge curveButton right short squareButton global huge">
                  <a href="#" class="">More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% <<< paralax balao %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%-->

<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ >>> form entrar  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->
<section>
    <div class="container">
        <div class="columns1_4 sc_column_item sc_column_item_1 odd first"></div>
        <div class="columns2_4 sc_column_item sc_column_item_2 even span_2">
          <div class="sc_contact_form sc_contact_form_contact contact_form_1">
            <!--<form class="contact_1" method="post" action="include/contact-form.php">-->
            <h1 class="text-center">Log in</h1>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'contact_1'}) do |f| %>
              <div class="columns4_4">
                <%= f.label :email %>
                <%= f.text_field :email, :id => 'contact_form_email', :placeholder => 'email' %>
                <!--<label class="required" for="contact_form_email">-->
                  <!--E-mail-->
                <!--</label> <input type="text" name="email" id="contact_form_email" placeholder="Email">-->
              </div>
              <br>
              <div class="columns4_4">
                <!--<label class="required" for="contact_form_subj">Subject</label>-->
                <!--<input type="text" name="subject" id="contact_form_subj" placeholder="Subject">-->
                <%= f.label :password %><br />
                <%= f.password_field :password, :id => 'contact_form_subj', autocomplete: "off" %>
              </div>
              <br>
              <div class="sc_contact_form_button">
                <div class="squareButton sc_button_size sc_button_style_global global ico">
                  <!--<button type="submit" name="contact_submit" class="contact_form_submit icon-comment-1">Send Message</button>-->
                  <%= f.submit "Login", :class => "contact_form_submit icon-comment-1" %>
                </div>
              </div>
              <div class="result sc_infobox"></div>

                <br>
                <br>
                <span><%= render "devise/shared/links" %></span>
            <% end %>
            <!--</form>-->
          </div>

        </div>


      <div class="columns1_4 sc_column_item sc_column_item_4 even after_span_2"></div>
    </div>
</section>

<!--$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ <<< form entrar  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->

<!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ >>> professores @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

<section class="blue_section">
  <div class="container">
    <div class="">
      <div class="sc_section bg_tint_dark">
        <div class="sc_content main ">
          <h2 class="sc_title sc_title_regular aligncenter">Available Babysitters</h2>
          <div class="sc_team no_padding margin_top_middle margin_bottom_m20">
            <div class="sc_columns columnsWrap">
              <div class="columns1_4">
                <div class="sc_team_item sc_team_item_1 odd first">
                  <div class="sc_team_item_avatar">
                    <img alt="babbysitter-team-1.jpg" src="images/babbysitter-team-11-370x370.jpg">
                    <div class="sc_team_item_description">
                      <div class="sc_button sc_button_style_global sc_button_size_big squareButton fullSize global big">
                        <a href="#" class="">Book Now</a> </div>
                    </div>
                  </div>
                  <div class="sc_team_item_info">
                    <h3 class="sc_team_item_title">Kristan W.</h3>
                    <div class="sc_team_item_position theme_accent2">After School Babysitter</div>
                    <ul class="sc_team_item_socials">
                      <li>
                        <a href="#" class="social_icons social_twitter twitter twitter_image" target="_blank">
                          <span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="social_icons social_facebook facebook facebook_image" target="_blank">
                          <span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="social_icons social_gplus gplus gplus_image" target="_blank">
                          <span></span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="columns1_4">
                <div class="sc_team_item sc_team_item_2 even">
                  <div class="sc_team_item_avatar">
                    <img alt="babbysitter-team-2.jpg" src="images/babbysitter-team-21-370x370.jpg">
                    <div class="sc_team_item_description">
                      <div class="sc_button sc_button_style_global sc_button_size_big squareButton fullSize global big">
                        <a href="#" class="">Book Now</a>
                      </div>
                    </div>
                  </div>
                  <div class="sc_team_item_info">
                    <h3 class="sc_team_item_title">Valerie C.</h3>
                    <div class="sc_team_item_position theme_accent2">Before School Babysitter</div>
                    <ul class="sc_team_item_socials">
                      <li>
                        <a href="#" class="social_icons social_facebook facebook facebook_image" target="_blank">
                          <span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="social_icons social_twitter twitter twitter_image" target="_blank">
                          <span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="social_icons social_gplus gplus gplus_image" target="_blank">
                          <span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="social_icons social_dribbble dribbble dribbble_image" target="_blank">
                          <span></span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="columns1_4">
                <div class="sc_team_item sc_team_item_3 odd">
                  <div class="sc_team_item_avatar">
                    <img alt="babbysitter-team-3.jpg" src="images/babbysitter-team-31-370x370.jpg">
                    <div class="sc_team_item_description">
                      <div class="sc_button sc_button_style_global sc_button_size_big squareButton fullSize global big">
                        <a href="#" class="">Book Now</a>
                      </div>
                    </div>
                  </div>
                  <div class="sc_team_item_info">
                    <h3 class="sc_team_item_title">Rachel H.</h3>
                    <div class="sc_team_item_position theme_accent2">School Year Babysitter</div>
                    <ul class="sc_team_item_socials">
                      <li>
                        <a href="#" class="social_icons social_facebook facebook facebook_image" target="_blank">
                          <span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="social_icons social_twitter twitter twitter_image" target="_blank">
                          <span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="social_icons social_gplus gplus gplus_image" target="_blank">
                          <span></span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="columns1_4">
                <div class="sc_team_item sc_team_item_4 even">
                  <div class="sc_team_item_avatar">
                    <img alt="babbysitter-team-4.jpg" src="images/babbysitter-team-41-370x370.jpg">
                    <div class="sc_team_item_description">
                      <div class="sc_button sc_button_style_global sc_button_size_big squareButton fullSize global big">
                        <a href="#" class="">Book Now</a>
                      </div>
                    </div>
                  </div>
                  <div class="sc_team_item_info">
                    <h3 class="sc_team_item_title">Nicole H.</h3>
                    <div class="sc_team_item_position theme_accent2">School Year Babysitter</div>
                    <ul class="sc_team_item_socials">
                      <li>
                        <a href="#" class="social_icons social_facebook facebook facebook_image" target="_blank">
                          <span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="social_icons social_dribbble dribbble dribbble_image" target="_blank">
                          <span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#" class="social_icons social_gplus gplus gplus_image" target="_blank">
                          <span></span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ <<< professores @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

<!--&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& >>> valor &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& -->

<section class="with_pricetable">
  <div class="container">
    <div class="">
      <div class="sc_section bg_tint_light">
        <div class="sc_content main ">
          <h2 class="sc_title style_2 aligncenter sc_title_regular margin_bottom_small">Babysitting Rates</h2>
          <div class="sc_columns columnsWrap">
            <div class="sc_pricing_table columns1_3 alignCenter table_color_green margin_top_small margin_bottom_small">
              <div class="sc_pricing_columns sc_pricing_column_1">
                <ul class="columnsAnimate">
                  <li class="sc_pricing_data sc_pricing_title">1 Child</li>
                  <li class="sc_pricing_data sc_pricing_price">
                    <div class="sc_price_item">
                      <span class="sc_price_currency">$</span>
                      <div class="sc_price_money">18</div>
                      <div class="sc_price_info">
                        <div class="sc_price_penny">
                        </div>
                        <div class="sc_price_period">/ hour</div>
                      </div>
                    </div>
                  </li>
                  <li class="sc_pricing_data">Save $5 every year compared to the monthly plan by paying yearly.</li>
                  <li class="sc_pricing_data sc_pricing_footer">
                    <div class="sc_button sc_button_style_global sc_button_size_big curveButton squareButton global big  ico">
                      <a href="#" class="inherit">Purchase</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="sc_pricing_table columns1_3 alignCenter table_color_blue margin_top_small margin_bottom_small">
              <div class="sc_pricing_columns sc_pricing_column_1">
                <ul class="columnsAnimate">
                  <li class="sc_pricing_data sc_pricing_title">2 Children</li>
                  <li class="sc_pricing_data sc_pricing_price">
                    <div class="sc_price_item">
                      <span class="sc_price_currency">$</span>
                      <div class="sc_price_money">20</div>
                      <div class="sc_price_info">
                        <div class="sc_price_penny">
                        </div>
                        <div class="sc_price_period">/ hour</div>
                      </div>
                    </div>
                  </li>
                  <li class="sc_pricing_data">Save $15 every year compared to the monthly plan by paying yearly.</li>
                  <li class="sc_pricing_data sc_pricing_footer">
                    <div class="sc_button sc_button_style_global sc_button_size_big curveButton squareButton global big  ico">
                      <a href="#" class="inherit">Purchase</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="sc_pricing_table columns1_3 alignCenter table_color_orange margin_top_small margin_bottom_small">
              <div class="sc_pricing_columns sc_pricing_column_1">
                <ul class="columnsAnimate">
                  <li class="sc_pricing_data sc_pricing_title">3 Children</li>
                  <li class="sc_pricing_data sc_pricing_price">
                    <div class="sc_price_item">
                      <span class="sc_price_currency">$</span>
                      <div class="sc_price_money">20</div>
                      <div class="sc_price_info">
                        <div class="sc_price_penny">
                        </div>
                        <div class="sc_price_period">/ hour</div>
                      </div>
                    </div>
                  </li>
                  <li class="sc_pricing_data">Save $50 every year compared to the monthly plan by paying yearly.</li>
                  <li class="sc_pricing_data sc_pricing_footer">
                    <div class="sc_button sc_button_style_global sc_button_size_big curveButton squareButton global big  ico">
                      <a href="#" class="inherit">Purchase</a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
</article>
</section>

<!--&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& <<< valor &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& -->
