<div class="mainWrap without_sidebar">
  <div class="main">
    <div class="content">

      <section class="no_margin no_padding">
        <div class="container">
          <div class="masonryWrap">
            <div class="isotopeFiltr">
              <ul>
                <li class="squareButton active">
                  <a href="#" data-filter="*">All</a>
                </li>
                <li class="squareButton">
                  <a href="#" data-filter=".flt_71">business</a>
                </li>
                <li class="squareButton">
                  <a href="#" data-filter=".flt_66">creative</a>
                </li>
                <li class="squareButton">
                  <a href="#" data-filter=".flt_61">design</a>
                </li>
                <li class="squareButton">
                  <a href="#" data-filter=".flt_64">nature</a>
                </li>
                <li class="squareButton">
                  <a href="#" data-filter=".flt_65">holidays</a>
                </li>
                <li class="squareButton">
                  <a href="#" data-filter=".flt_69">music</a>
                </li>
                <li class="squareButton">
                  <a href="#" data-filter=".flt_68">health</a>
                </li>
              </ul>
            </div>
            <section class="masonry isotope" data-columns="3">
              <article class="isotopeElement post_format_standard odd flt_71 flt_66 flt_61">
                <div class="isotopePadding">
                  <div class="thumb hoverIncrease" data-image="images/kidscare-24.jpg" data-title="Summer Childcare Questions">
                    <img alt="Summer Childcare Questions" src="images/kidscare-24-1150x647.jpg">
                  </div>
                  <h4>
                    <a href="#">Summer Childcare Questions</a>
                  </h4>
                  <p>Proin dictum tellus magna, id semper elit rhoncus a. Nullam gravida lectus vel nunc sagittis consectetur. Cras dictum, elit sit amet imperdiet posuere, nunc eros cursus tellus, sit amet mollis risus massa vel augue. Nulla sed nunc quis odio facilisis eleifend. Vestibulum feugiat ipsum at interdum fringilla. Donec dictum pharetra velit, eget convallis metus pharetra </p>
                  <div class="masonryInfo">
                    Posted
                    <a href="#" class="post_date">August 29, 2014</a>
                  </div>
                  <div class="masonryMore">
                    <ul>
                      <li class="squareButton light ico">
                        <a class="icon-link" title="More" href="#">More</a>
                      </li>
                      <li class="squareButton light ico">
                        <a class="icon-eye" title="Views - 142" href="#">142</a>
                      </li>
                      <li class="squareButton light ico">
                        <a class="icon-comment-1" title="Comments - 0" href="#">0</a>
                      </li>
                    </ul>
                  </div>
                  <span class="inlineShadow"></span>
                </div>
              </article>
              <article class="isotopeElement post_format_standard even flt_71">
                <div class="isotopePadding">
                  <div class="thumb hoverIncrease" data-image="images/kidscare-04.jpg" data-title="Physical Activity Keeps Kids Healthy">
                    <img alt="Physical Activity Keeps Kids Healthy" src="images/kidscare-04-1150x647.jpg">
                  </div>
                  <h4>
                    <a href="#">Physical Activity Keeps Kids Healthy</a>
                  </h4>
                  <p>Curabitur suscipit est ut orci fringilla condimentum. Praesent id pretium velit. Nunc ullamcorper, augue non tincidunt porta, mauris urna vestibulum eros, vitae gravida tellus ligula quis felis. Ut justo arcu, mattis et purus vitae, varius laoreet neque. Sed gravida condimentum neque, vel scelerisque mauris scelerisque quis. Fusce vitae pretium nunc. Duis lobortis et tortor ac </p>
                  <div class="masonryInfo">
                    Posted
                    <a href="#" class="post_date">August 29, 2014</a>
                  </div>
                  <div class="masonryMore">
                    <ul>
                      <li class="squareButton light ico">
                        <a class="icon-link" title="More" href="#">More</a>
                      </li>
                      <li class="squareButton light ico">
                        <a class="icon-eye" title="Views - 116" href="#">116</a>
                      </li>
                      <li class="squareButton light ico">
                        <a class="icon-comment-1" title="Comments - 0" href="#">0</a>
                      </li>
                    </ul>
                  </div>
                  <span class="inlineShadow"></span>
                </div>
              </article>
              <article class="isotopeElement post_format_standard odd flt_64">
                <div class="isotopePadding">
                  <div class="thumb hoverIncrease" data-image="images/kidscare-02.jpg" data-title="Brain Training Games for Children">
                    <img alt="Brain Training Games for Children" src="images/kidscare-02-1150x647.jpg">
                  </div>
                  <h4>
                    <a href="#">Brain Training Games for Children</a>
                  </h4>
                  <p>Aliquam dapibus neque a placerat iaculis. Nulla tellus nisl, tincidunt eu tempor porta, sagittis id neque. Cras nunc diam, vestibulum a pretium at, tristique vitae tortor. Integer eget posuere erat. Nulla massa quam, blandit ac ornare eu, mollis eget metus. Nulla vestibulum aliquam turpis, vitae tristique magna cursus ac. Interdum et malesuada fames ac ante </p>
                  <div class="masonryInfo">
                    Posted
                    <a href="#" class="post_date">August 29, 2014</a>
                  </div>
                  <div class="masonryMore">
                    <ul>
                      <li class="squareButton light ico">
                        <a class="icon-link" title="More" href="#">More</a>
                      </li>
                      <li class="squareButton light ico">
                        <a class="icon-eye" title="Views - 68" href="#">68</a>
                      </li>
                      <li class="squareButton light ico">
                        <a class="icon-comment-1" title="Comments - 0" href="#">0</a>
                      </li>
                    </ul>
                  </div>
                  <span class="inlineShadow"></span>
                </div>
              </article>
              <article class="isotopeElement post_format_standard even flt_71">
                <div class="isotopePadding">
                  <div class="thumb hoverIncrease" data-image="images/kidscare-15.jpg" data-title="10 Tips For Positive Child Care">
                    <img alt="10 Tips For Positive Child Care" src="images/kidscare-15-1150x647.jpg">
                  </div>
                  <h4>
                    <a href="#">10 Tips For Positive Child Care</a>
                  </h4>
                  <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed quis porttitor diam. Phasellus semper venenatis nisl, eu fringilla metus vestibulum ut. Proin imperdiet felis nibh, nec tempor ipsum adipiscing ac. Ut magna sapien, semper ac tincidunt vitae, imperdiet eu dolor. Donec vitae lectus vel augue gravida volutpat sit amet non </p>
                  <div class="masonryInfo">
                    Posted
                    <a href="#" class="post_date">August 29, 2014</a>
                  </div>
                  <div class="masonryMore">
                    <ul>
                      <li class="squareButton light ico">
                        <a class="icon-link" title="More" href="#">More</a>
                      </li>
                      <li class="squareButton light ico">
                        <a class="icon-eye" title="Views - 58" href="#">58</a>
                      </li>
                      <li class="squareButton light ico">
                        <a class="icon-comment-1" title="Comments - 0" href="#">0</a>
                      </li>
                    </ul>
                  </div>
                  <span class="inlineShadow"></span>
                </div>
              </article>
              <article class="isotopeElement post_format_standard odd flt_66 flt_61">
                <div class="isotopePadding">
                  <div class="thumb hoverIncrease" data-image="images/kidscare-09.jpg" data-title="Children&#8217;s Growth and Development">
                    <img alt="Children&#8217;s Growth and Development" src="images/kidscare-09-1150x647.jpg">
                  </div>
                  <h4>
                    <a href="#">Children&#8217;s Growth and Development</a>
                  </h4>
                  <p>Fusce egestas dolor vitae velit interdum, eget dictum justo varius. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse tempor semper molestie. Donec condimentum mi ac est gravida, at vestibulum quam accumsan. Cras non velit a orci egestas molestie. Curabitur posuere massa neque, eget rutrum arcu vulputate non. Etiam at </p>
                  <div class="masonryInfo">
                    Posted
                    <a href="#" class="post_date">August 29, 2014</a>
                  </div>
                  <div class="masonryMore">
                    <ul>
                      <li class="squareButton light ico">
                        <a class="icon-link" title="More" href="#">More</a>
                      </li>
                      <li class="squareButton light ico">
                        <a class="icon-eye" title="Views - 51" href="#">51</a>
                      </li>
                      <li class="squareButton light ico">
                        <a class="icon-comment-1" title="Comments - 0" href="#">0</a>
                      </li>
                    </ul>
                  </div>
                  <span class="inlineShadow"></span>
                </div>
              </article>
              <article class="isotopeElement post_format_standard even flt_64">
                <div class="isotopePadding">
                  <div class="thumb hoverIncrease" data-image="images/kidscare-16.jpg" data-title="Questions for Potential Pediatricians">
                    <img alt="Questions for Potential Pediatricians" src="images/kidscare-16-1150x647.jpg">
                  </div>
                  <h4>
                    <a href="#">Questions for Potential Pediatricians</a>
                  </h4>
                  <p>Donec lacinia elementum nunc, sed condimentum eros dictum ut. Sed pretium lacinia tortor, ac porta sapien congue sed. Morbi quis nisl dolor. Vestibulum a lectus vel orci pulvinar consequat vitae et nibh. Pellentesque lectus urna, varius a ullamcorper quis, suscipit sed nisi. Donec eget euismod justo. Phasellus non lacus et turpis accumsan consequat sit amet </p>
                  <div class="masonryInfo">
                    Posted
                    <a href="#" class="post_date">August 29, 2014</a>
                  </div>
                  <div class="masonryMore">
                    <ul>
                      <li class="squareButton light ico">
                        <a class="icon-link" title="More" href="#">More</a>
                      </li>
                      <li class="squareButton light ico">
                        <a class="icon-eye" title="Views - 351" href="#">351</a>
                      </li>
                      <li class="squareButton light ico">
                        <a class="icon-comment-1" title="Comments - 0" href="#">0</a>
                      </li>
                    </ul>
                  </div>
                  <span class="inlineShadow"></span>
                </div>
              </article>
              <article class="isotopeElement post_format_standard odd flt_64">
                <div class="isotopePadding">
                  <div class="thumb hoverIncrease" data-image="images/kidscare-25.jpg" data-title="When to Call the Doctor">
                    <img alt="When to Call the Doctor" src="images/kidscare-25-1150x647.jpg">
                  </div>
                  <h4>
                    <a href="#">When to Call the Doctor</a>
                  </h4>
                  <p>Curabitur auctor adipiscing risus sed ornare. Aliquam a auctor augue. Nullam nisl lorem, sodales sed odio ac, auctor accumsan libero. Ut convallis fringilla velit. Pellentesque auctor lacus eget neque mollis, in commodo ipsum condimentum. Curabitur ultrices magna quis quam dapibus feugiat et malesuada tellus. Mauris ac congue nulla. Suspendisse porttitor lectus eget tincidunt fermentum. Pellentesque </p>
                  <div class="masonryInfo">
                    Posted
                    <a href="#" class="post_date">August 29, 2014</a>
                  </div>
                  <div class="masonryMore">
                    <ul>
                      <li class="squareButton light ico">
                        <a class="icon-link" title="More" href="#">More</a>
                      </li>
                      <li class="squareButton light ico">
                        <a class="icon-eye" title="Views - 64" href="#">64</a>
                      </li>
                      <li class="squareButton light ico">
                        <a class="icon-comment-1" title="Comments - 0" href="#">0</a>
                      </li>
                    </ul>
                  </div>
                  <span class="inlineShadow"></span>
                </div>
              </article>
              <article class="isotopeElement post_format_standard even flt_66">
                <div class="isotopePadding">
                  <div class="thumb hoverIncrease" data-image="images/kidscare-18.jpg" data-title="Social Skills in Preschool">
                    <img alt="Social Skills in Preschool" src="images/kidscare-18-1150x647.jpg">
                  </div>
                  <h4>
                    <a href="#">Social Skills in Preschool</a>
                  </h4>
                  <p>Vestibulum ut lacus et magna consectetur interdum non eget justo. Nam lorem tortor, viverra ut nibh a, feugiat varius mi. Duis eleifend, nisi tincidunt porttitor dignissim, ligula sem luctus metus, vel sagittis urna lorem quis libero. Mauris consequat dictum magna id scelerisque. Praesent sed quam dignissim, mollis leo ut, fermentum nisl. Phasellus libero dui, aliquam </p>
                  <div class="masonryInfo">
                    Posted
                    <a href="#" class="post_date">August 29, 2014</a>
                  </div>
                  <div class="masonryMore">
                    <ul>
                      <li class="squareButton light ico">
                        <a class="icon-link" title="More" href="#">More</a>
                      </li>
                      <li class="squareButton light ico">
                        <a class="icon-eye" title="Views - 37" href="#">37</a>
                      </li>
                      <li class="squareButton light ico">
                        <a class="icon-comment-1" title="Comments - 0" href="#">0</a>
                      </li>
                    </ul>
                  </div>
                  <span class="inlineShadow"></span>
                </div>
              </article>
              <article class="isotopeElement post_format_standard odd flt_65 flt_69">
                <div class="isotopePadding">
                  <div class="thumb hoverIncrease" data-image="images/kidscare-17.jpg" data-title="Hiring a Nanny: Holding Interviews">
                    <img alt="Hiring a Nanny: Holding Interviews" src="images/kidscare-17-1150x647.jpg">
                  </div>
                  <h4>
                    <a href="#">Hiring a Nanny: Holding Interviews</a>
                  </h4>
                  <p>Maecenas tristique sem ante. Donec imperdiet pretium sodales. Sed in eros fermentum, facilisis magna eu, tempus mauris. Curabitur mollis lacus ac urna semper facilisis. Integer nec leo risus. Aliquam id blandit mauris, eu accumsan nisi. Proin sit amet justo vitae nibh cursus vehicula. Donec magna turpis, vestibulum et pellentesque nec, eleifend ac erat. Proin id</p>
                  <div class="masonryInfo">
                    Posted
                    <a href="#" class="post_date">August 29, 2014</a>
                  </div>
                  <div class="masonryMore">
                    <ul>
                      <li class="squareButton light ico">
                        <a class="icon-link" title="More" href="#">More</a>
                      </li>
                      <li class="squareButton light ico">
                        <a class="icon-eye" title="Views - 68" href="#">68</a>
                      </li>
                      <li class="squareButton light ico">
                        <a class="icon-comment-1" title="Comments - 0" href="#">0</a>
                      </li>
                    </ul>
                  </div>
                  <span class="inlineShadow"></span>
                </div>
              </article>
              <article class="isotopeElement post_format_standard even flt_64">
                <div class="isotopePadding">
                  <div class="thumb hoverIncrease" data-image="images/kidscare-26.jpg" data-title="Your Kid&#8217;s Emotional Wellness">
                    <img alt="Your Kid&#8217;s Emotional Wellness" src="images/kidscare-26-1150x647.jpg">
                  </div>
                  <h4>
                    <a href="#">Your Kid&#8217;s Emotional Wellness</a>
                  </h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur augue tortor, faucibus quis velit vitae, mattis ornare metus. Ut erat justo, cursus a iaculis quis, tincidunt a turpis. Vestibulum convallis vulputate purus, non bibendum felis varius faucibus. Vestibulum vitae orci purus. Nunc a justo massa. Nam in semper turpis. Maecenas eget mauris vitae eros tincidunt </p>
                  <div class="masonryInfo">
                    Posted
                    <a href="#" class="post_date">August 29, 2014</a>
                  </div>
                  <div class="masonryMore">
                    <ul>
                      <li class="squareButton light ico">
                        <a class="icon-link" title="More" href="#">More</a>
                      </li>
                      <li class="squareButton light ico">
                        <a class="icon-eye" title="Views - 17" href="#">17</a>
                      </li>
                      <li class="squareButton light ico">
                        <a class="icon-comment-1" title="Comments - 0" href="#">0</a>
                      </li>
                    </ul>
                  </div>
                  <span class="inlineShadow"></span>
                </div>
              </article>
              <article class="isotopeElement post_format_standard odd flt_68">
                <div class="isotopePadding">
                  <div class="thumb hoverIncrease" data-image="images/kidscare-19.jpg" data-title="Daycare, Preschool and Early Learning">
                    <img alt="Daycare, Preschool and Early Learning" src="images/kidscare-19-1150x647.jpg">
                  </div>
                  <h4>
                    <a href="#">Daycare, Preschool and Early Learning</a>
                  </h4>
                  <p>Ut a neque tellus. Duis facilisis enim quis tortor pharetra dapibus. Phasellus nunc velit, feugiat sed lobortis in, accumsan facilisis turpis. Vivamus iaculis velit ut risus blandit condimentum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer nec porta mi. Vivamus nec purus non massa pellentesque cursus at consectetur felis.</p>
                  <div class="masonryInfo">
                    Posted
                    <a href="#" class="post_date">August 29, 2014</a>
                  </div>
                  <div class="masonryMore">
                    <ul>
                      <li class="squareButton light ico">
                        <a class="icon-link" title="More" href="#">More</a>
                      </li>
                      <li class="squareButton light ico">
                        <a class="icon-eye" title="Views - 22" href="#">22</a>
                      </li>
                      <li class="squareButton light ico">
                        <a class="icon-comment-1" title="Comments - 0" href="#">0</a>
                      </li>
                    </ul>
                  </div>
                  <span class="inlineShadow"></span>
                </div>
              </article>
              <article class="isotopeElement post_format_standard even last flt_68">
                <div class="isotopePadding">
                  <div class="thumb hoverIncrease" data-image="images/kidscare-06.jpg" data-title="Rainy-Day Activities for Kids">
                    <img alt="Rainy-Day Activities for Kids" src="images/kidscare-06-1150x647.jpg">
                  </div>
                  <h4>
                    <a href="#">Rainy-Day Activities for Kids</a>
                  </h4>
                  <p>Proin vel odio eu velit pellentesque rhoncus sed nec lectus. Curabitur in vulputate felis. Fusce id tellus dui. Maecenas a dictum odio, id suscipit lorem. Nam enim libero, imperdiet eget tincidunt quis, faucibus in nisi. Suspendisse potenti. Curabitur congue nunc eu libero venenatis, vitae auctor orci aliquam. Duis egestas mattis risus, ullamcorper tempor turpis pulvinar </p>
                  <div class="masonryInfo">
                    Posted
                    <a href="#" class="post_date">August 29, 2014</a>
                  </div>
                  <div class="masonryMore">
                    <ul>
                      <li class="squareButton light ico">
                        <a class="icon-link" title="More" href="#">More</a>
                      </li>
                      <li class="squareButton light ico">
                        <a class="icon-eye" title="Views - 13" href="#">13</a>
                      </li>
                      <li class="squareButton light ico">
                        <a class="icon-comment-1" title="Comments - 0" href="#">0</a>
                      </li>
                    </ul>
                  </div>
                  <span class="inlineShadow"></span>
                </div>
              </article>
            </section>
          </div>

          <div id="pagination" class="pagination">
            <ul class="pageLibrary">
              <li class="pager_pages libPage">
                Page
                <input class="navInput" readonly="readonly" type="text" size="1" value="1"> of 2
                <div id="pageNavSlider" class="boxShadow pageFocusBlock navPadding">
                  <div class="sc_slider sc_slider_swiper sc_slider_controls sc_slider_controls_top sc_slider_nopagination sc_slider_noautoplay swiper-slider-container">
                    <ul class="slides swiper-wrapper" data-current-slide="1">
                      <li class="swiper-slide">
                        <div class="pageNumber">
                          <table>
                            <tbody>
                            <tr>
                              <td>
                                <a href="#" class="active">1</a>
                              </td>
                              <td>
                                <a href="#">2</a>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <ul class="flex-direction-nav">
                    <li>
                      <a class="flex-prev" href="#">
                      </a>
                    </li>
                    <li>
                      <a class="flex-next" href="#">
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="pager_next ico right squareButton light">
                <a href="#">Next </a>
              </li>
              <li class="pager_last ico right squareButton light">
                <a href="#">Last </a>
              </li>
            </ul>
          </div>

        </div>
      </section>

    </div>
  </div>
</div>

<!-- &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& -->

<p id="notice"><%= notice %></p>
<div class="container">
<br>
<div class="row">
					<% @items.each do |item| %>
                    <div class="col-sm-4 col-lg-4 col-md-4 ">
                        <div class="thumbnail thumbnail2 marginItem">
                        	<%= image_tag(item.img) %>
                            <div class="caption">
                                <h4 class="pull-right">Preço: <%= item.price %></h4>
                                <h4><%= item.name %>
                                </h4>
                                <p></p>
                            </div>
                            <div class="ratings">
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                                <%= button_to 'Comprar', line_items_path(item_id: item), class: "btn btn-success dropdown-toggle" %>
                            </div>
                        </div>
                    </div>

                
		<% end %>
                </div>
</div>