<!DOCTYPE html>
<html>
<head>
  <title>Reino</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag '__packed', 'fontello/css/fontello', 'fontello/css/animation', 'style', 'shortcodes', 'kidscare', 'novo_reino', media: 'all', 'data-turbolinks-track' => true %>
  <!--<%= stylesheet_link_tag 'application','__packed', 'fontello/css/fontello', 'fontello/css/animation', 'styles', 'shortcodes', 'responsive', media: 'all', 'data-turbolinks-track' => true %>-->

  <style id='theme-skin-inline-css' type='text/css'></style>

  <%= stylesheet_link_tag 'responsive' %>

  <%= csrf_meta_tags %>
  <script type="text/javascript" src="/assets/html5-canvas-game-character-1.js"></script>
</head>
<body class="home page themerex_body fullscreen top_panel_above theme_skin_kidscare">
<!-- &&&&&&&&&&&&&&&&&&&&&&&&&&&&&& >>> novo tema &&&&&&&&&&&&&&&&&&&&&&&&&&&&&& -->
<div class="main_content">
  <div class="boxedWrap">
<!-- &&&&&&&&&&&&&&&&&&&&&&&&&&&&&& <<< novo tema &&&&&&&&&&&&&&&&&&&&&&&&&&&&&& -->
<%= render :partial => 'layouts/navbar' %>
<%= render :partial => 'layouts/masthead' %>
<%= yield %>
  </div> <!-- /.boxedWrap -->
</div> <!-- /.main_content -->
<div class="upToScroll">
  <a href="#" class="addBookmark icon-star-empty" title="Add the current page into bookmarks"> </a>
  <a href="#" class="scrollToTop icon-up-open-big" title="Back to top"> </a>
</div>

  <%= javascript_include_tag 'vendor/jquery-1.11.3.min', 'vendor/jquery-migrate.min', 'vendor/revslider/rs-plugin/js/jquery.themepunch.tools.min', 'vendor/revslider/rs-plugin/js/jquery.themepunch.revolution.min', 'custom/__main', 'vendor/__packed', 'custom/shortcodes_init', 'custom/_utils', 'custom/_front' %>

</body>
</html>
