<!DOCTYPE html>
<html>
<head>
  <title>Reino</title>
  <%= stylesheet_link_tag 'application','__packed', 'fontello/css/fontello', 'fontello/css/animation', 'styles', 'shortcodes', 'responsive', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="/assets/html5-canvas-game-character-1.js"></script>
</head>
<body>
<!-- &&&&&&&&&&&&&&&&&&&&&&&&&&&&&& >>> novo tema &&&&&&&&&&&&&&&&&&&&&&&&&&&&&& -->
<div class="main_content">
  <div class="boxedWrap">
<!-- &&&&&&&&&&&&&&&&&&&&&&&&&&&&&& <<< novo tema &&&&&&&&&&&&&&&&&&&&&&&&&&&&&& -->
<%= render :partial => 'layouts/navbar' %>
<%= render :partial => 'layouts/masthead' %>
<%= yield %>
  </div> <!-- /.boxedWrap -->
</div> <!-- /.main_content -->


</body>
</html>
